desafio4/node_modules
desafio4/.env
desafio5/node_modules
desafio5/.env
desafio6/node_modules
desafio6/.env
desafio7/node_modules
desafio7/.env
desafio7/DB/ecommerce.sqlite
desafio9/node_modules
desafio9/.env
desafio9/DB/ecommerce.sqlite
