desafio4/node_modules
desafio4/.env
desafio5/node_modules
desafio5/.env
desafio6/node_modules
desafio6/.env
desafio7/node_modules
desafio7/.env
desafio7/DB/ecommerce.sqlite
desafio9/node_modules
desafio9/.env
desafio9/DB/ecommerce.sqlite
desafio10/node_modules
desafio10/.env
desafio10/DB/ecommerce.sqlite
desafio11/node_modules
desafio11/.env
desafio11/DB/ecommerce.sqlite
desafio13/node_modules
desafio13/.env
desafio13/DB/ecommerce.sqlite
desafio14/node_modules
desafio14/.env
desafio14/DB/ecommerce.sqlite
desafio15/node_modules
desafio15/.env
desafio15/DB/ecommerce.sqlite
desafio16/node_modules
desafio16/.env
desafio16/DB/ecommerce.sqlite
desafio17/node_modules
desafio17/.env
desafio17/DB/ecommerce.sqlite
desafio18/node_modules
desafio18/.env
desafio18/DB/ecommerce.sqlite
desafio19/node_modules
desafio19/.env
desafio19/DB/ecommerce.sqlite
desafio20/node_modules
desafio20/.env
desafio20/DB/ecommerce.sqlite