<div
      class='d-flex justify-content-evenly mt-5 mb-5 bg-danger align-items-center'
>

      <h2>USER ERROR REGISTER</h2>
      <h3>USUARIO YA REGISTRADO</h3>
      <div class='col-1'><a
                  class='btn btn-outline-warning'
                  href='/registro'
            >VOLVER</a>
      </div>
</div>