<div
      class='d-flex justify-content-evenly mt-5 mb-5 bg-light align-items-center'
>

      <h2>Hasta luego {{user}}</h2>
</div>

<script>
      setTimeout(() => { location.href = '/' }, 2000)
</script>