img {
      width: 25px;
      height: auto;
}
.messageContainer {
      background-color: beige;
      height: 300px;
      width: 500px;
      overflow-y: scroll;
}
.email {
      font-weight: bold;
      color: blue;
}
.date {
      color: brown;
}
.message {
      font-style: italic;
      color: green;
}
.error {
      color: red;
      border-color: red;
}
.error:focus {
      border-color: red;
}
