<div
      class="row g-3 flex-column was-validated justify-content-center align-items-center mt-5"
>
      <h2 class="col-md-4">Centro de mensajes</h2>
      <input
            type="email"
            id="emailUser"
            placeholder="Ingrese su email"
            class="form-floating col-md-4"
      />
      <div class="contenedorMensajes">
            <ul id="listaMensajes"></ul>
      </div>
      <div id="estaEscribiendo" class="col-md-4"> .</div>
      <form id="formMensaje" class="form-floating col-md-4">
            <input
                  type="text"
                  id="inputMensaje"
                  placeholder="escriba su mensaje"
            />
            <button class="btn btn-outline-dark" type="submit">Enviar</button>
      </form>
</div>